    <footer class="nav-bg mt-auto py-0.2">
      <div class="container text-center">
        <span class="text text-light fs-6 text">© {{ now }} حسوب. جميع الحقوق محفوظة.</span>
      </div>
    </footer>