<div class="modal fade"
     id="articleModal"
     tabindex="-1"
     aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ss">
            <div class="modal-header">
                <h5 class="modal-title" id="articleModalLabel">حذف المقالة</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        data-bs-dismiss="modal">اغلاق</button>
                <a href="#" class="btn btn-sm btn-danger" id="delBtn" role="button">حذف</a>
            </div>
        </div>
    </div>
</div>
