<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.rtl.min.css') }}" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{{ title }}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar  -->
    {% include "partials/navbar.jinja" %}
    {# flash_messages  #}
    {% include "partials/flash_message.jinja" %}
    <div class="container-fluid">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Footer -->
    {% include "partials/footer.jinja" %}
    <!-- Bootstrap with Popper -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <!-- fontawesome icon -->
    <script src="https://kit.fontawesome.com/fd1352f6d1.js" crossorigin="anonymous"></script>
  </body>
</html>
