{% extends "main/base.jinja" %}
{% block content %}
  <div class="container">
    <h2 class="mt-2 text-secondary">أحدث المقالات</h2>
    <div class="album py-5 bg-light">
      <!-- Articles Container -->
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!-- Article Content  -->
          {% for article in articles_per_page %}
            <div class="col-sm-6 col-lg-4 mb-4">
              <div class="card cards">
                <a href="{{ url_for('article_controller.article_show', id=article.id) }}">
                  <img src="{{ url_for('static', filename='images/'+article.article_img) }}"
                       class="card-img-top bd-placeholder-img"
                       style="max-height: 250px"
                       alt="img"/>
                </a>
                <div class="card-body pb-1">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="{{ url_for('article_controller.article_show', id=article.id) }}"
                         class="text-decoration-none link-secondary fs-5 fw-bold text-start text-break cardTitle">{{ article.title[:70] }}</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between card-li">
                      <p class="text-end">
                        <small class="text-muted">{{ article.user.username }}</small>
                      </p>
                      <p class="text-start">
                        <small class="text-muted">{{ article.created_date.strftime('%Y-%m-%d') }}</small>
                      </p>
                    </li>
                    <li class="list-group-item text-end text-muted card-li">الإعجابات {{ article.likes|length }}</li>
                  </ul>
                </div>
                <a class="btn btnCard btn-sm rounded-0 rounded-bottom"
                   href="{{ url_for('article_controller.article_show', id=article.id) }}"><span class="fas fa-book-open me-1"></span> تابع القراءة</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-center">{{ pagination.links }}</div>
      </nav>
    </div>
  </div>
{% endblock content %}
