{% extends "main/base.jinja" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="center">
                <div class="col-md-6 col-md-8 col-lg-6 ">
                    <h4>تحديث بيانات الدفع</h4>
                    <form id="subscribe-form"
                          class="payment-form shadow-lg bg-body rounded p-3 m-3"
                          method="post">
                        <div class="form-group">
                            <label for="user_email">البريد الإلكتروني:</label>
                            <input type="email"
                                   id="user_email"
                                   value="{{ current_user.email }}"
                                   class="form-control"
                                   readonly/>
                        </div>
                        <div class="form-group">
                            <label for="stripeCard">معلومات البطاقة الجديدة</label>
                            <div id="stripeCard" class="form-control">{# سيتم حقن عنصر سترايب ضمن هذا القسم #}</div>
                        </div>
                        <div class="form-group d-grid gap-2">
                            <div id="card-element-errors" role="alert"></div>
                            <button class="btn btn-outline-success classBtn" id="subBtn">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">تغيير بطاقة الدفع</span>
                            </button>
                        </div>
                    </form>
                    <div class="result-message hidden">
                        <div class="alert alert-success d-flex align-items-center " role="alert">
                            <i class="fa-regular fa-circle-check"></i>
                            <div>تم تغيير بطاقة الدفع بنجاح</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/change_payment_method.js') }}"></script>
{% endblock content %}
